# Python Topics
* comments in Python
* variables declerations
* type casting

# Data Science is the subset of AI

* ML,Python,AI
* Deep learning

## Data Science is the subset of AI

### Data Science is the subset of AI

##### Data Science is the subset of AI

###### Data Science is the subset of AI

#### Data Science is the subset of AI

# Comments

* single line comment
* multiline comment
* triple quote / docstring

In [4]:
# single line comment in Python

a = 10
print(a)

10

In [5]:
# hjdksfksd
hello = "hello"
print(hello)

hello

In [13]:
# Multi 
# line
# comment

z = "data sceicne"
print(z)

data sceicne

###### Docstring / triple qoutes

In [21]:
a = """
phani
loves     hello world
data 
science
"""

print(a)

phani
loves     hello world
data
science

In [18]:
d = """AI
ml"""             
print(d)

AI
ml

# Variable decleration

In [23]:
#  variable decleration in c int a = 10  # int---> datatype , a---> variable , 10 ---> value


a = 10
print(a)
print(type(a))

10
<class 'int'>

In [24]:
type(a)

int

In [26]:
a = 10
a = 20
a = 'phani'
a = 10.5
print(a)

10.5

In [27]:
type(a)

float

In [28]:
z = "python"
type(z)

str

##### Mutli assignment opration

In [29]:
a = b = c = 'Python'

print(a)
print(b)
print(c)

Python
Python
Python

In [30]:
# A variable name must start with a letter or the underscore character
# A variable name cannot start with a number
# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
# Variable names are case-sensitive (age, Age and AGE are three different variables)

In [31]:
a = 10
a

10

In [33]:
_ = "phani"
print(_)

phani

In [34]:
a1 = "phani"
a1

'phani'

In [35]:
1a = "phani"
1a

SyntaxError: invalid syntax (<ipython-input-35-0d0ad667c188>, line 1)

In [37]:
_123_abcdABCD = "phani"
_123_abcdABCD

'phani'

In [38]:
A = 10 # case sensitive
a = 20
print(a,A)

20 10

In [41]:
a = b = c = 'Apple','Ball','Cat'
print(a,b,c)

('Apple', 'Ball', 'Cat') ('Apple', 'Ball', 'Cat') ('Apple', 'Ball', 'Cat')

In [42]:
a , b = 1,2
print(a,b)

1 2

In [43]:
a,b,c = 1,2
print(a,b,c)

ValueError: not enough values to unpack (expected 3, got 2)

In [44]:
a,b,_ = 1,2,3
print(a,b,_)

1 2 3

In [45]:
type(_)

int

In [46]:
for = "phani"
print(for)

SyntaxError: invalid syntax (<ipython-input-46-89fe5c598163>, line 1)

In [52]:
a = "phani"
print("Hello :",a)

Hello : phani

In [53]:
if = "ab"
print(if)

SyntaxError: invalid syntax (<ipython-input-53-70fb12dd7221>, line 1)

In [54]:
fi = 123
fi

123

In [61]:
continue = "data science"
print(int)

SyntaxError: invalid syntax (<ipython-input-61-f30a4cf8bd52>, line 1)

In [62]:
# never declare keywords as variable names

In [64]:
a = "AI"
print(a)

AI

In [67]:
id(a)

1433581002416

In [68]:
b = "AI"
id(b)

1433581002416

In [69]:
id("AI")

1433581002416

In [70]:
z = "phani"
id(z)

1433580988656

In [72]:
id(a)

1433581002416

In [74]:
id??

# id("press shift+tab") ---> to get the doc of the function

### type casting / conversion
##### data from one datatype to another datatype

* implict type casting
* explict type casting

In [79]:
a = 1
b = 2
c = a+b
print(c)

3

In [78]:
a=1
b=10
c=a+b
print(a)

1

In [80]:
a = 1   # int
b = 2.5 # float
c = a+b
print(c)

3.5

In [81]:
a = "phani"  # str
b = 123      # int
c = a+b
print(c)

TypeError: can only concatenate str (not "int") to str

In [ ]:
a = "phani"  # str
b = 123      # int
c = a+b
print(c)

In [2]:
a = 123   # int
b = str(a) # int-str
print(a)

123

In [1]:
str(123)

'123'

##### Python-----> interpter---> checking code line by line  vs C --> compiler cheks entire code at oces

In [6]:
a = "phani"
b = 1
c = kumar
d = b
print(d)

NameError: name 'kumar' is not defined